@forward 'normalize';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
svg,
img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

h1,
h2,
h3 {
  line-height: 1.5;
}
