JWT_ACCESS_SECRET_KEY=ACCESS
JWT_REFRESH_SECRET_KEY=REFRESH
DATABASE_URL="file:./dev.db"

VITE_CLIENT_PORT=3000
CLIENT_URL=http://localhost:3000

SERVER_PORT=5000
VITE_SERVER_URL=http://localhost:5000
VITE_WS_SERVER_URL=ws://localhost:5000